<% content_for :admin_header do %>
  <ul class="col-md-9 admin-table-header admin-clients-header col-md-offset-3">
    <li><%= link_to_with_order 'Id', 'id'%></li>
    <li><%= link_to_with_order 'Company', 'name'%></li>
    <li>Full name of admin</li>
    <li>Email</li>
  </ul>
<% end %>

<table class="table table-striped admin-clients-table">
  <tbody>
    <% @organizations.each do |organization| %>
      <tr data-popup="#client-modal-<%= organization.id %>">
        <td><%= organization.id %></td>
        <td><a href="#" data-toggle="modal" data-target="#client-modal-<%= organization.id %>"><%= organization.name %></a></td>
        <td><%= organization.owner.try(:name) %></td>
        <td><%= organization.owner.try(:email) %></td>
      </tr>
      <%= render partial: 'modal', locals: {organization: organization} %>
    <% end %>
    <% if @organizations.size < 1 %>
      <tr ng-show="!inputs.length">
        <td colspan="4">There is no record</td>
      </tr>
    <% end %>
  </tbody>
</table>
