<!DOCTYPE html>
<html>
  <head>
    <title>RankingDesk</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'cms_layout', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag comfy_cms_render_css_path(@cms_page.id, @cms_page.layout.identifier), media: 'all' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'cms_layout', 'data-turbolinks-track' => true %>
  </body>
</html>